In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/home/shweta/rawdata.csv")

In [3]:
df

,date,time,sensor,location,number,activity,position,location.1
0,1/16/2024,10:10:30 AM,0.0,A1,1,placed,inside,A1
1,1/16/2024,10:12:30 AM,1.0,A2,1,picked,inside,A2
2,1/16/2024,10:28:30 AM,1.0,A3,1,picked,Inside,A3
3,1/16/2024,10:38:20 AM,0.0,A4,1,placed,Inside,A4
4,1/16/2024,10:45:20 AM,1.0,A5,1,placed,inside,A5
...,...,...,...,...,...,...,...,...
170,1/18/2024,12:45:05 PM,0.0,A8,2,placed,inside,A8
171,1/18/2024,12:53:10 PM,1.0,A9,2,picked,inside,A9
172,1/18/2024,12:59:10 PM,1.0,A10,2,placed,outside,A10
173,1/18/2024,1:10:20 PM,1.0,A11,2,picked,Inside,A11
174,1/18/2024,1:18:30 PM,0.0,A12,2,placed,inside,A12

In [4]:
from datetime import datetime
import time

timestamps = []
date_format = "%m/%d/%Y %I:%M:%S %p"
for i in range(len(df)):
    date_str = df.iloc[i]['date'] + " " +df.iloc[i]['time']
    dt = datetime.strptime(date_str, date_format)
    epoch_timestamp = int(time.mktime(dt.timetuple()))
    timestamps.append(epoch_timestamp)

In [5]:
timestamps

[1705380030,
 1705380150,
 1705381110,
 1705381700,
 1705382120,
 1705382540,
 1705383320,
 1705383980,
 1705384400,
 1705384580,
 1705384940,
 1705385180,
 1705385540,
 1705385900,
 1705386140,
 1705386560,
 1705343540,
 1705385900,
 1705343900,
 1705344020,
 1705344320,
 1705344500,
 1705344620,
 1705344740,
 1705343540,
 1705344320,
 1705344320,
 1705344380,
 1705344440,
 1705344500,
 1705344620,
 1705344680,
 1705344800,
 1705344920,
 1705345040,
 1705345160,
 1705345280,
 1705345400,
 1705345520,
 1705345580,
 1705345640,
 1705345760,
 1705345880,
 1705345940,
 1705346000,
 1705346060,
 1705346180,
 1705346300,
 1705346360,
 1705346420,
 1705346540,
 1705346660,
 1705346720,
 1705346840,
 1705346900,
 1705346960,
 1705347020,
 1705347140,
 1705347260,
 1705347320,
 1705347440,
 1705347560,
 1705347620,
 1705347740,
 1705347860,
 1705347920,
 1705348040,
 1705348160,
 1705348280,
 1705348340,
 1705348400,
 1705348520,
 1705348580,
 1705348700,
 1705348760,
 1705348820,
 1705348940,
 1705349060,
 1705349180,
 1705349300,
 1705466430,
 1705466550,
 1705467510,
 1705468100,
 1705468520,
 1705468940,
 1705472660,
 1705473620,
 1705474220,
 1705468340,
 1705468460,
 1705469180,
 1705469660,
 1705470140,
 1705470620,
 1705477340,
 1705477880,
 1705474040,
 1705474460,
 1705554920,
 1705555340,
 1705556120,
 1705556880,
 1705557600,
 1705558080,
 1705558355,
 1705558820,
 1705559722,
 1705560320,
 1705561100,
 1705561355,
 1705561530,
 1705562105,
 1705562590,
 1705563620,
 1705564110,
 1705564403,
 1705564588,
 1705565350,
 1705565890,
 1705566800,
 1705567220,
 1705567522,
 1705568300,
 1705568940,
 1705569500,
 1705570443,
 1705571550,
 1705571850,
 1705572330,
 1705572992,
 1705573920,
 1705575000,
 1705575360,
 1705575540,
 1705576020,
 1705576320,
 1705576620,
 1705577040,
 1705577820,
 1705578120,
 1705578360,
 1705579500,
 1705580100,
 1705581240,
 1705581600,
 1705581900,
 1705583100,
 1705583700,
 1705584420,
 1705585200,
 1705585740,
 1705585980,
 1705586420,
 1705552830,
 1705552950,
 1705553910,
 1705554500,
 1705554920,
 1705555340,
 1705556120,
 1705556880,
 1705557600,
 1705558080,
 1705558355,
 1705558820,
 1705559722,
 1705560320,
 1705561355,
 1705561530,
 1705562105,
 1705562590,
 1705562950,
 1705563620,
 1705564110]

In [6]:
df['timestamp'] = timestamps

In [7]:
df

,date,time,sensor,location,number,activity,position,location.1,timestamp
0,1/16/2024,10:10:30 AM,0.0,A1,1,placed,inside,A1,1705380030
1,1/16/2024,10:12:30 AM,1.0,A2,1,picked,inside,A2,1705380150
2,1/16/2024,10:28:30 AM,1.0,A3,1,picked,Inside,A3,1705381110
3,1/16/2024,10:38:20 AM,0.0,A4,1,placed,Inside,A4,1705381700
4,1/16/2024,10:45:20 AM,1.0,A5,1,placed,inside,A5,1705382120
...,...,...,...,...,...,...,...,...,...
170,1/18/2024,12:45:05 PM,0.0,A8,2,placed,inside,A8,1705562105
171,1/18/2024,12:53:10 PM,1.0,A9,2,picked,inside,A9,1705562590
172,1/18/2024,12:59:10 PM,1.0,A10,2,placed,outside,A10,1705562950
173,1/18/2024,1:10:20 PM,1.0,A11,2,picked,Inside,A11,1705563620
174,1/18/2024,1:18:30 PM,0.0,A12,2,placed,inside,A12,1705564110

In [8]:
df = df.sort_values(by=['timestamp'],ascending=[True])

In [9]:
output = {
    "1/16/2024": {
        "inside_duration": 0,
        "outside_duration": 0
    },
    "1/17/2024": {
        "inside_duration": 0,
        "outside_duration": 0
    },
    "1/18/2024": {
        "inside_duration": 0,
        "outside_duration": 0
    }
}

previous_timestamp = df.iloc[0]['timestamp']
previous_date = df.iloc[0]['date']
previous_position = df.iloc[0]['position']

for i in range(1, len(df)):
    current_date = df.iloc[i]['date']
    current_position = df.iloc[i]['position']
    current_timestamp = df.iloc[i]['timestamp']
    

    if(current_date == previous_date and previous_position == 'inside' and (current_position == 'inside' or current_position == 'outside')):
        duration = current_timestamp - previous_timestamp
        output[current_date]['inside_duration'] = output[current_date]['inside_duration'] + duration
        
    # condition for outside duration
    if(current_date == previous_date and previous_position == 'outside') and (current_position == 'Inside' or current_position == 'outside'):
        duration = current_timestamp - previous_timestamp
        output[current_date]['outside_duration'] = output[current_date]['outside_duration'] + duration 


    previous_timestamp = current_timestamp
    previous_date = current_date
    previous_position = current_position

In [10]:
output

{'1/16/2024': {'inside_duration': 41050, 'outside_duration': 0},
 '1/17/2024': {'inside_duration': 11450, 'outside_duration': 0},
 '1/18/2024': {'inside_duration': 23150, 'outside_duration': 2813}}

In [11]:
output2 = {
    "1/16/2024": {
        "pick_activities": 0,
        "place_activities": 0
    },
    "1/17/2024": {
        "pick_activities": 0,
        "place_activities": 0
    },
    "1/18/2024": {
        "pick_activities": 0,
        "place_activities": 0
    }
}

for i in range(len(df)):
    if df.iloc[i]['date'] == "1/16/2024":
        if df.iloc[i]['activity'] == "picked":
            output2['1/16/2024']['pick_activities'] += 1
        else:
            output2['1/16/2024']['place_activities'] += 1

    if df.iloc[i]['date'] == "1/17/2024":
        if df.iloc[i]['activity'] == "picked":
            output2['1/17/2024']['pick_activities'] += 1
        else:
            output2['1/17/2024']['place_activities'] += 1

    if df.iloc[i]['date'] == "1/18/2024":
        if df.iloc[i]['activity'] == "picked":
            output2['1/18/2024']['pick_activities'] += 1
        else:
            output2['1/18/2024']['place_activities'] += 1

In [12]:
output2

{'1/16/2024': {'pick_activities': 40, 'place_activities': 40},
 '1/17/2024': {'pick_activities': 10, 'place_activities': 9},
 '1/18/2024': {'pick_activities': 37, 'place_activities': 39}}

In [13]:
data = [["1/16/2024",output2['1/16/2024']['pick_activities'],output2['1/16/2024']['place_activities'],output['1/16/2024']['inside_duration'],output['1/16/2024']['outside_duration']],
        ["1/17/2024",output2['1/17/2024']['pick_activities'],output2['1/17/2024']['place_activities'],output['1/17/2024']['inside_duration'],output['1/17/2024']['outside_duration']],
        ["1/18/2024",output2['1/18/2024']['pick_activities'],output2['1/18/2024']['place_activities'],output['1/18/2024']['inside_duration'],output['1/18/2024']['outside_duration']]
        ]

In [14]:
df1 = pd.DataFrame(data, columns = ["date","pick_activities","place_activities","inside_duration","outside_duration"])

In [15]:
df1

,date,pick_activities,place_activities,inside_duration,outside_duration
0,1/16/2024,40,40,41050,0
1,1/17/2024,10,9,11450,0
2,1/18/2024,37,39,23150,2813

In [16]:
df1.to_csv("data.csv", header=True, index=False)